# sudo ln -s /home/pi/hpctrl.service /lib/systemd/system
# sudo systemctl daemon-reload
# sudo systemctl enable hpctrl.service

[Unit]
Description=Read from hpctrl
StartLimitIntervalSec=5

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/emoncms/modules/hpctrl/hpctrl.py
User=pi

# Restart script if stopped
Restart=always
# Wait 30s before restart
RestartSec=30s

# Tag things in the log
# If you want to use the journal instead of the file above, uncomment SyslogIdentifier below
# View with: sudo journalctl -f -u hpctrl -o cat
SyslogIdentifier=hpctrl

[Install]
WantedBy=multi-user.target

