# sudo ln -s /opt/emoncms/modules/hpctrl/SCRIPT_NAME.service /lib/systemd/system
# sudo systemctl daemon-reload
# sudo systemctl enable SCRIPT_NAME.service

[Unit]
Description=SCRIPT_NAME service
StartLimitIntervalSec=5

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/emoncms/modules/hpctrl/SCRIPT_NAME.py
User=pi

# Restart script if stopped
Restart=always
# Wait 30s before restart
RestartSec=30s

# Tag things in the log
# If you want to use the journal instead of the file above, uncomment SyslogIdentifier below
# View with: sudo journalctl -f -u SCRIPT_NAME -o cat
SyslogIdentifier=SCRIPT_NAME

[Install]
WantedBy=multi-user.target

